#audio-library-options {
    width: 100%;

    display: flex;
    justify-content: flex-start;
}

#audio-library-options > div {
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 10px;

    background-color: var(--color02);
}

#all-checkboxes {
    border-right: 2px solid var(--color01);
    border-radius: 10px 0 0 10px;
}

#selected-options {
    border-radius: 0 10px 10px 0;

    background-color: red;
}

#selected-options div {
    border-radius: 10px;
    padding: 5px;
}

#selected-options svg {
    display: flex;

    width: 20px;

    stroke: var(--color01);
}
