@keyframes label-click-animation {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    50% {
        background-color: var(--color02Trans);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}
