/* Label para do botão de pegar arquivos */
#get-files-label div {
    display: flex;

    padding: 5px;
    border-radius: 50%;
    margin-top: 10px;
}

#get-files-label svg {
    width: 50px;
}

/* Botão para selecionar arquivos */
#files-button {
    display: none;
}

/* Cores */
#get-files-label svg {
    fill: var(--color01);
}
